// out: ../style/styles.css, sourcemap: true, compress: true

@font-face {
    font-family: "SignPainter";
    src: url('./SignPainter-HouseScript.ttf');
}

body{
    background-color: #EF966D;
    font-family: "Tahoma", serif;
}

h1{
    color: #B51700;
    font-family: "SignPainter", serif;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(255, 255, 255, 0.5);
}

h2{
    margin-left: 30px;
    font-family: "Tahoma", serif;
}

h3{
    padding-left: 20px;
    font-family: "SignPainter",serif;
    float: left;
}

.hidden{
    display: none;
}

.no-puces{
    list-style-type: none;
}

.list-line{
    display: flex;
    flex-direction: row;
}

ul{
    position: relative;
    top: 50px;
}

li{
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: "SignPainter", serif;
    font-size: 20px;
    cursor: pointer;
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(53%, rgba(254,182,69,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
}

.right{
    float: right;
    position: relative;
    right: 40px;
}

aside{
    height: 100px;
    width: auto;
    box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.5);
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(53%, rgba(254,182,69,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 53%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
}

.section-gestion{
    position: relative;
    top: 50px;
}

button{
    padding: 5px;
    margin: 5px;
    font-family: "SignPainter", serif;
    font-size: 20px;
    border-radius: 3px;
    background-color: #29a9e5;
    border-width: 0px;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.75);
}

.btnResto{
    width: 120px;
    text-align: center;
    float: right;
}

.allResto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.listeResto{
    background-color: #B51700;
    font-family: "Tahoma",serif;
    border-radius: 5px;
    height: 200px;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descResto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listbtnresto{
    margin: 0px;
    top: 10px
}

.description{
    position: relative;
    top: -10px;
    left:40px;
    width: 80%;
    height: auto;

}

.result{
    text-align: right;
    width: 100%;
    margin-top: 50px;
}

.barbase{
    background-color: #29a9e5;
    height: 20px;
    margin-left: 20px;
}


.bar0{
    width: 0px;
}

.bar1{
    width: 20px;
}

.bar2{
    width: 40px;
}

.bar3{
    width: 60px;
}

.bar4{
    width: 80px;
}

.bar5{
    width: 100px;
}

.bar6{
    width: 120px;
}

.bar7{
    width: 140px;
}

.bar8{
    width: 160px;
}

.bar9{
    width: 180px;
}

.bar10{
    width: 200px;
}

.bar11{
    width: 220px;
}

.bar12{
    width: 240px;
}

.bar13{
    width: 260px;
}

.bar14{
    width: 280px;
}

.bar15{
    width: 300px;
}

#prevote{
    width: 100%;
    height: auto;
}

.voteTable{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #B51700;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
    height: auto;
}

.resultTable{
    width: 100%;
    border-radius: 5px;
    background-color: #B51700;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
    padding: 15px;
    text-align: left;
    height: auto;
}

.trspace{
    margin: 3px;
    border-bottom: 2px solid black;
}
